body {
  background-image: url("codioful-formerly-gradienta-9X6tbXe_bw4-unsplash.jpg");
  background-size: 100%; 
}

div {
    border: 1px black solid;
}

button {
    height: 100%;
    width: 100%;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 25vw;
    background-color: white;
}

.display {
    display: flex;
    justify-content: right;
    align-items: end;
    height: 100px;
    width: 80%;
    align-items: right;
    margin: 25px;
}

.display .result {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    float: right;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 80%;
    width: 80%;
}

#numbers {
    display: flex;
    flex-direction: column;
    flex: 2 1 auto;
    justify-content: space-evenly;
}

.number-rows {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.operators {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-evenly;
}
