div {
    border: 1px black solid;
}

button {
    height: 100%;
    width: 100%;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 400px;
}

.display {
    display: flex;
    justify-content: right;
    align-items: end;
    height: 100px;
    width: 80%;
    align-items: right;
    margin: 25px;
}

.display .result {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    float: right;
}

.buttons {
    display: flex;
    flex-direction: row;
   
    height: 80%;
    width: 80%;
    margin-bottom: 25px;
}

#numbers {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}

.number-rows {
    display: flex;
    flex: 1;
}

.operators {
    display: flex;
    flex-direction: column;
    width: 20%;
}
