* {
    font-family: 'Courier New', Courier, monospace;
}

html{
    height: 100%;
}

body {
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgb(252, 246, 88) 100%);
    display: flex;
    justify-content: center;
}
/* 
div {
    border: 1px black solid;
} */

button {
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    border-radius: 50px;
    border: 5px white solid;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 425px;
    width: 350px;
    background-color: white;
    border-radius: 25px;
}

.display {
    display: flex;
    justify-content: right;
    align-items: end;
    height: 100px;
    width: 80%;
    align-items: right;
    margin: 25px;
    border: 5px lightgrey solid;
    border-radius: 25px;
}

.display .result {
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 80%;
    width: 80%;
    font-size: 30px;
}

#numbers {
    display: flex;
    flex-direction: column;
    flex: 2 1 auto;
}

.number-rows {
    display: flex;
    flex: 1;
}

.bottom-row {
    display: flex;
    flex: 1;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
